<VirtualHost *:443>
  ServerName <%= @fqdn %>

  ## Vhost docroot
  DocumentRoot "/usr/share/puppetexplorer"

  ## Directories, there should at least be a declaration for /usr/share/puppetexplorer

  <Directory "/usr/share/puppetexplorer">
    Options Indexes FollowSymLinks MultiViews
    AllowOverride None
    Order allow,deny
    Allow from all
  </Directory>

  ## Logging
  ErrorLog "/var/log/httpd/<%= @fqdn %>_error_ssl.log"
  ServerSignature Off
  CustomLog "/var/log/httpd/<%= @fqdn %>_access_ssl.log" combined

  ## Proxy rules
  ProxyRequests Off
  ProxyPass /api/v4 http://localhost:8080/v4
  <Location /api/v4>
    ProxyPassReverse http://localhost:8080/v4
  </Location>

  ## SSL directives
  SSLEngine on
  SSLCertificateFile      "/etc/pki/tls/certs/localhost.crt"
  SSLCertificateKeyFile   "/etc/pki/tls/private/localhost.key"
  SSLCACertificatePath    "/etc/pki/tls/certs"
  SSLProxyEngine On
</VirtualHost>
